////
/// Forms & Form Controls
/// ==========================================================================
///
/// @group  Chimplet\Base
/// @author Locomotive
////

// ==========================================================================
// Settings
// ==========================================================================

// ==========================================================================
// Placeholders
// ==========================================================================

// ==========================================================================
// Styles
// ==========================================================================

.chimplet-wrap legend {
	margin  : 0;
	padding : 0;

	-webkit-margin-collapse: separate;
}
