////
/// Forms & Form Controls
/// ==========================================================================
///
/// @group  Chimplet\Base
/// @author Locomotive
////

// ==========================================================================
// Settings
// ==========================================================================

$text-inputs-list: 'input[type="color"]',
                   'input[type="date"]',
                   'input[type="datetime"]',
                   'input[type="datetime-local"]',
                   'input[type="email"]',
                   'input[type="month"]',
                   'input[type="number"]',
                   'input[type="password"]',
                   'input[type="search"]',
                   'input[type="tel"]',
                   'input[type="text"]',
                   'input[type="time"]',
                   'input[type="url"]',
                   'input[type="week"]',
                   'textarea';

$choice-inputs-list: 'input[type="radio"]',
                     'input[type="checkbox"]';

$all-text-inputs:   assign-selectors( $text-inputs-list );
$all-choice-inputs: assign-selectors( $choice-inputs-list );


// ==========================================================================
// Placeholders
// ==========================================================================

// ==========================================================================
// Styles
// ==========================================================================

.chimplet-wrap {

	h2 {
		margin-bottom: 10px;
	}

	legend {
		margin  : 0;
		padding : 0;

		-webkit-margin-collapse: separate;
	}

	.description + fieldset {
		margin-top: 1.33em;

		> legend:first-child > span {
			margin-top: 0;
		}

	}

	#{$all-choice-inputs} {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	input,
	textarea,
	select {
		max-width: 100%;
	}

	.chimplet-alert {
		color: #A00;
	}

}
