////
/// WordPress Tables
/// ==========================================================================
///
/// @group  WordPress\Objects
/// @author Locomotive
////

// ==========================================================================
// Settings
// ==========================================================================

// ==========================================================================
// Placeholders
// ==========================================================================

// ==========================================================================
// Styles
// ==========================================================================

/// Based on `.tablenav .tablenav-pages`
///
/// @see \WordPress\wp-admin\css\list-tables.css:

.tablenav .tablenav-actions,
.tablenav .tablenav-information {
	display     : block;
	cursor      : default;
	height      : 30px;
	color       : #555;
	line-height : 30px;
	font-size   : 12px;
}
